body{
  margin:0;
  background:#121212;
  color:white;
  font-family:system-ui;
}

.topbar{
  height:40px;
  background:#1c1c1c;
  border-bottom:1px solid #2a2a2a;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 15px;
  font-size:14px;
}

#status{
  color:#aaa;
}

textarea{
  width:100%;
  height:calc(100vh - 40px);
  background:#121212;
  border:none;
  color:white;
  font-size:16px;
  padding:25px;
  outline:none;
  resize:none;
  line-height:1.5;
}